.truncate-overflow {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Potong setelah 3 baris */
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.primary-color {
  color: #c42786ff;
}
.nav-link:hover {
  color: #911d63;
}
.btn-primary, .btn-outline-primary {
  border-color: #c42786ff;
}
.btn-outline-primary {
  color: #c42786ff;
}
.btn-outline-primary:hover, :not(.btn-check)+.btn:active {
  border-color: #c42786ff;
  background-color: #c42786ff;
}
.btn-primary {
  background-color: #c42786ff;
}
.btn-primary:hover, .btn:first-child:active {
  background-color: #911d63;
  border-color: #911d63;
}